* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.interface {
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cadastrar {
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px;
    max-width: 200px;
    width: 100%;
    border: 0;
    cursor: pointer;
    border-radius: 100px;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h1, h2, h3{
    color: #002B7F;
}

p {
    font-size: 1.1em;
    line-height: 20px;
    color: #2B2B2B;
}

/* CABEÇALHO */
header {
    background-color: #002B7F;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 110px;
    width: 80%;
    margin: 5px;
}

header img.logo-bortoletto {
    border: 0;
}

/* ANUNCIO 1 */
.anuncio-1 {
    min-height: 250px;
    padding: 15px;
}

.anuncio-1 .flex {
    flex-direction: column;
    gap: 10px;
}

.anuncio-1 p {
    color: #2B2B2B;
    text-align: center;
    max-width: 700px;
}

.anuncio-1 .btn-cadastrar {
    margin-top: 10px;
    background-color: #002B7F;
    color: #FFF;
    box-shadow: 0px 8px 8px #00164eab;
    transition: .2s;
    animation: pulsar 1.5s infinite ease-in-out;
}

.anuncio-1 .btn-cadastrar:hover {
    background-color: #3C71E1;
}

@keyframes pulsar {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

/* PLANO DE NEGÓCIO */
.plano-de-negocio {
    background-color: #e6e6e6;
    border-radius: 20px;
    padding: 40px 10px;
}

.plano-de-negocio .flex {
    flex-direction: column;
    gap: 30px;
}

.plano-de-negocio .apresentacao-video {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    animation: pulsar-shadow 2s infinite ease alternate;
    overflow: hidden;
}

.plano-de-negocio .apresentacao-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    top: 0;
    left: 0;
}

.plano-de-negocio .sobre-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.plano-de-negocio .img-sobre {
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    box-shadow: 0 0px 30px #cccccc41;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    max-width: 400px;
    width: 100%;
}

.plano-de-negocio .img-sobre img {
    width: 400px;
}

.plano-de-negocio .txt-sobre p {
    margin-top: 5px;
    text-align: justify;
    white-space: pre-line;
}

@keyframes flutuar {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: 20px;
    }
}

@keyframes pulsar-shadow {
    0% {
        box-shadow: 0px 0px 50px #002896;
    }

    100% {
        box-shadow: 0px 0px 25px #002896;
    }
}

@media (max-width: 600px) {
    header img {
        width: 50%;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    .btn-cadastrar {
        width: 100%;
        padding: 15px;
        font-size: 1em;
    }

    .interface {
        padding: 0 10px;
    }

    .plano-de-negocio .sobre-box {
        flex-direction: column-reverse;
    }

    .plano-de-negocio .img-sobre {
        max-width: 300px;
    }

    .plano-de-negocio .img-sobre img {
        max-width: 400px;
        width: 100%;
    }
}